/* Variables */
$black: #000000;
$white: #FFFFFF;

// blue 
$blue-1: #0E1734; 
$blue-2: #192252;
$blue-3: #0B265A;
$blue-4: #424F7B;
$blue-5: #848FAC;

// gray
$gray: #D9DBDE;

// orange
$orange: #FF620A;
$orange-opacity: hsla(22, 100%, 52%, 0.12);
$orange-soft: #FFECE2;

// yellow
$yellow: #FAB047;
$yellow-opacity: hsla(35, 95%, 63%, 0.35);